<!-- About -->
<section class="page-section" id="{{ site.data.sitetext[site.locale].about.section | default: " about" }}">
<div class="container">
    <div class="row">
        <div class="col-lg-4 text-center">
            <img src="{{site.data.sitetext[site.locale].about.avatar | default: '/assets/img/about/avatar.jpg'}}" class="about-avatar">
            <p class="about-name">
                {{ site.data.sitetext[site.locale].about.name | default: "Your Name"}}
            </p>
            <p>
            <ul class="social-buttons">
                {% for link in site.data.sitetext[site.locale].footer.social %}
                <li class="list-inline-item">
                    {% if link.url %}
                    <a href="{{ link.url }}">
                        {% if link.icon %}<i class="{{ link.icon }}"></i>{% endif %}
                    </a>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
            </p>
            <p>
                {{ site.data.sitetext[site.locale].about.desc | markdownify | default: "Brief description"}}
            </p>
            <!--<p>
                <iframe src="/" frameborder="0" scrolling="0" width="300px" height="500px"></iframe>
            </p>-->
        </div>
        <div class="col-lg-8 mx-auto">
            <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].about.title | default: "About
                Us" }}</h2>
            <h3 class="section-subheading text-muted">{{ site.data.sitetext[site.locale].about.text | default: ""
                }}</h3>
            <div class="large text-muted">{{ site.data.sitetext[site.locale].about.body | markdownify }}</div>
        </div>
    </div>
</div>
</section>
<!-- End About -->
