<!-- About -->
<section class="page-section" id="{{ site.data.sitetext[site.locale].about.section | default: "about" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 text-center">
        <img src="/assets/img/about/avatar.jpg" class="about-avatar">
          <p class="about-name">
              我是姓名
          </p>
          <p>
              <ul class="social-buttons">
                  {% for link in site.data.sitetext[site.locale].footer.social %}
                  <li class="list-inline-item">
                      {% if link.url %}
                      <a href="{{ link.url }}">
                          {% if link.icon %}<i class="{{ link.icon }}"></i>{% endif %}
                      </a>
                      {% endif %}
                  </li>
                  {% endfor %}
              </ul>
          </p>
          <p>
              我是其他内容描述，
              我市其他内容秒睡
          </p>
      </div>
        <div class="col-lg-8 mx-auto">
            <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].about.title | default: "About Us" }}</h2>
            <h3 class="section-subheading text-muted">{{ site.data.sitetext[site.locale].about.text | default: "" }}</h3>
            <div class="large text-muted">{{ site.data.sitetext[site.locale].about.body | markdownify }}</div>
        </div>
    </div>
  </div>
</section>
<!-- End About -->
