<!-- Contact -->
<section class="page-section" id="{{ site.data.sitetext[site.locale].contact.section | default: " contact" }}">
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">
                {{ site.data.sitetext[site.locale].contact.title | markdownify | default: Contact Us }}</h2>
            <h3 class="section-subheading text-muted">{{ site.data.sitetext[site.locale].contact.text | default: "" }}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div id="map" style="width: 100%;height: 500px"></div>
        </div>
    </div>
</div>
</section>
<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script type="text/javascript"
        src="https://api.map.baidu.com/api?v=2.0&amp;ak=WLiWxXcGAWoOPHiFHFlWeaRfaPefrOWz"></script>
<script>
    $('#mark').show();
    var map = new BMap.Map('map');
    var point = new BMap.Point(120.73717, 31.25795);
    map.centerAndZoom(point, 15);
    map.enableScrollWheelZoom(true);
    var marker = new BMap.Marker(point);
    map.addOverlay(marker);
    marker.setAnimation(BMAP_ANIMATION_BOUNCE);
    var opts = {
        position: point,
        offset: new BMap.Size(20, -30),
    };
    var label = new BMap.Label('我是标注的地址位置名称', opts);
    label.setStyle({
        color: '#006abe',
        fontSize: '16px',
        height: 'auto',
        border: '1px solid #fff',
        padding: '12px 12px',
        fontWeight: 'bold',
        lineHeight: '16px',
        fontFamily: 'SourceHanSansCN-Regular',
    });
    map.addOverlay(label);
    window.setTimeout(function () {
        map.panTo(new BMap.Point(120.73717, 31.25795));
    }, 2000);
</script>
<!-- End Contact -->
